<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <form action="/search_publisher_by_name/" method="post" id='form'>
    {% csrf_token %}
        <input type="text" name="name">
        <input type="submit" value="查询">
    </form>

{% load myfilters %}
<div class='table'>
<ul>
{% csrf_token %}
                             <li class='username'>用户名</li>
                             <li class='addr'>地址</li>
                             <li class='city'>城市</li>
                             <li class='state_province'>省</li>
                             <li class='country'>国家</li>
                             <li class='website'>网址</li>
                             <li class='caozuo'>操作</li>

            {% for publisher in publishers %}
                             <li class='username'>{{ publisher.name }}</li>
                             <li class='addr'>{{ publisher.address }}</li>
                             <li class='city'>{{ publisher.city }}</li>
                             <li class='state_province'>{{ publisher.state_province|safe }}</li>
                             {% autoescape off %}
                             <li class='country'>{{ publisher.country}}</li>
                             {% endautoescape %}
                             <li class='website'>{{ publisher.website }}</li>
                             <li class='caozuo'><a href="/addpublisher/">新增</a>||<a href="/delpublisher?id={{ publisher.id }}">删除</a>||<a href="/updatepublisher?id={{ publisher.id }}">更新</a>||<a href="/detailpublisher?id={{ publisher.id }}">查看</a></li>
                     {% endfor %}
</ul>
</div>
<h1>11111</h1>
<h1>2222222</h1>
</body>
</html>

